{% extends 'base.html.twig' %}

{% block title %}
  Event index
{% endblock %}

{% block body %}
  <main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section">
      <div class="container">
        <div class="row gy-4 align-items-center">
          <div class="col order-2 order-lg-1">
            <div class="hero-content">
              <h1>BxlEvent</h1>
              <h2>L'agenda de vos meilleures sorties</h2>
              <p>
                Concerts, expositions, festivals ou événements sportifs... <strong>BxlEvent</strong> rassemble pour vous toutes les activités incontournables de la capitale. Trouvez l'événement parfait, réservez vos billets en quelques clics et profitez pleinement de la vie bruxelloise.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">Recherche</div>
          <div class="col">filtre</div>
          <div class="col">filtre</div>
          <div class="col">filtre</div>
          <div class="col">filtre</div>
        </div>
        <div class="row ">
          {% for event in events %}
            <div class="col-12 col-md-4 mt-4">
              <div class="card">
                <img src="{{ asset('assets/img/person/person-f-12.webp') }}" class="card-img-top" alt="..." />
                <div class="card-body">
                <p class="rounded text-white fw-bold " style="background:grey;>Categorie</p>
                  <h5 class="card-title">{{ event.title }}</h5>
                  <p class="card-text">{{ event.description }}</p>

            <!-- DATE BADGE -->
                <div class="position-absolute top-0 start-0 m-3 px-3 py-2 rounded text-white fw-bold"
                    style="background: #1387c1;">
                  {{ event.date|date('d M')|upper }}
                </div>

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h4>{{ event.date|date('y-m-d') }}</h4>
                  </li>
                  <li class="list-group-item">{{ event.hour|date('H:i:s') }}</li>
                  <li class="list-group-item">Location 📍</li>
                  <li class="list-group-item">Pirx</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Acheter un ticket</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>

  <h1>Event index</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>Hour</th>
        <th>Status</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td>{{ event.id }}</td>
          <td>{{ event.title }}</td>
          <td>{{ event.description }}</td>
          <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
          <td>{{ event.hour ? event.hour|date('H:i:s') : '' }}</td>
          <td>{{ event.status.value }}</td>
          <td>
            <a href="{{ path('app_event_show', { id: event.id }) }}">show</a>
            <a href="{{ path('app_event_edit', { id: event.id }) }}">edit</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="7">no records found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{{ path('app_event_new') }}">Create new</a>
  {# 1. Chargement du fichier que j'ai vu dans ton dossier vendor #}
  <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>

  {# 2. Initialisation obligatoire pour activer les animations #}

  <script>
    AOS.init({
      duration: 1000,
      easing: 'smart',
      once: true,
      mirror: false
    })
  </script>
{% endblock %}
