{% extends 'base.html.twig' %}

{% block title %}
	BxlEvvent Inscription
{% endblock %}

{% block body %}

	<main class="main">

		<section id="contact" class="contact section">

			<div class="container">

				<div class="row g-4 g-lg-5">
					<div class="col-3"></div>
					<div class="col-6 info-box">
						<div class="container section-title">
							<h2>Inscription</h2>
						</div>
						<div class="inscription-form">


							{{ form_start(registrationForm, {'attr': {'class': 'php-email-form'}}) }}
							<div class="row gy-4">
								{% for child in registrationForm.role %}
									<div
										class="col-md-6">
										{# L'input doit être JUSTE AVANT le label #}
										{{ form_widget(child, {'attr': {'class': 'role-input'}}) }}

										<label for="{{ child.vars.id }}" class="role-label">
											<span class="role-title">{{ child.vars.attr['data-titre'] }}</span>
											<span class="role-description">{{ child.vars.attr['data-description'] }}</span>
											
											{% if child.vars.value == 0 %}
												<i class="bi bi-people-fill"></i>
											{% else %}
												<i class="bi bi-megaphone-fill"></i>
											{% endif %}
										</label>
									</div>
								{% endfor %}
								<div class="text-danger">
									{{ form_errors(registrationForm.role) }}
								</div>

								<div class="col-md-6">
									{{ form_label(registrationForm.lastName, 'Nom') }}

									<div class="input-group mb-3">
										<span class="input-group-text">
											<i class="bi bi-person-fill"></i>
										</span>
										{{ form_widget(registrationForm.lastName, {
                                        'attr': {
                                          
                                            'class': 'form-control', 
                                          
                                        }
                                    }) }}
									</div>
									{{ form_errors(registrationForm.firstName) }}
								</div>


								<div class="col-md-6">
									{{ form_label(registrationForm.firstName, 'Prenom') }}
									<div class="input-group mb-3">
										<span class="input-group-text">
											<i class="bi bi-person-fill"></i>
										</span>
										{{ form_widget(registrationForm.firstName, {
                                        'attr': {
                                            'class': 'form-control', 
                                            
                                        }
                                    }) }}
									</div>
									{{ form_errors(registrationForm.firstName) }}
								</div>

								<div class="col-md-6">
									{{ form_label(registrationForm.email, 'Email') }}
									<div class="input-group mb-3">
										<span class="input-group-text">
											<i class="bi bi-envelope-at-fill"></i>
										</span>

										{{ form_widget(registrationForm.email, {
                                        'attr': {
                                            'class': 'form-control'
                                            
                            
                                        }
                                    } ) }}
									</div>
									{{ form_errors(registrationForm.email) }}
								</div>

								<div class="col-md-6">
									{{form_label(registrationForm.plainPassword, 'Mot de passe')}}
									<div class="input-group mb-3">
										<span class="input-group-text">
											<i class="bi bi-lock-fill"></i>
										</span>

										{{ form_widget(registrationForm.plainPassword, {
                                      
                                        'attr': {
                                            'class': 'form-control',   
                                            'rows': 6
                                        }
                                    }) }}
									</div>
									{{ form_errors(registrationForm.plainPassword) }}
								</div>


								<div class="col">

									{{ form_row(registrationForm.agreeTerms)}}

								</div>


								<div class="col-12 text-center">

									<button type="submit" class="btn button large">S'incrire</button>

									<p>Vous disposez déja d'un compte?
										<a href="{{path('app_login')}}">Connectez vous</a>
									</p>
								</div>


							</div>
							{{ form_end(registrationForm) }}


						</div>

					</div>
					<div class="col-3"></div>
				</div>

			</div>

		</section>

	{% endblock %}
