{% extends 'base.html.twig' %}

{% block title %}Reports index{% endblock %}

{% block body %}
    <h1>Reports index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Reason</th>
                <th>Treated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.date ? report.date|date('Y-m-d') : '' }}</td>
                <td>{{ report.reason }}</td>
                <td>{{ report.treated ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_reports_show', {'id': report.id}) }}">show</a>
                    <a href="{{ path('app_reports_edit', {'id': report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reports_new') }}">Create new</a>
{% endblock %}
