<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>" />

    <!-- Début import folioOne -->
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <link rel="stylesheet" href="{{ asset('assets/vendor/aos/aos.css') }}" />
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="assets/css/main.css" rel="stylesheet" />
    <!-- Fin import folioOne -->

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
  </head>
  <body>
    <!--           
    <header>
      <nav>
        <a href="{{ path('app_home_event_index') }}">Accueil</a> |
        <a href="{{ path('app_register') }}">S'inscrire</a> |
        <a href="{{ path('app_login') }}">Connexion</a> {# On créera le lien après le make:auth #}
        <hr />
      </nav>
    </header> !           -->

    <header id="header" class="header d-flex align-items-center light-background sticky-top">
      <div class="container position-relative d-flex align-items-center justify-content-between">
        <!--             <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
      <img src="assets/img/logo.webp" alt="">
      <h1 class="sitename">FolioOne</h1> 
    </a>             -->

        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="{{ path('app_home_event_index') }}" class="active">Accueil</a>
            </li>
            <li>
              <a href="about.html">A propos</a>
            </li>

            <li class="dropdown">
              <a href="#"><span>Catégories</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li>
                  <a href="#">Showcase</a>
                </li>
                <li>
                  <a href="#">Concert</a>
                </li>
                <li>
                  <a href="#">Gratuit</a>
                </li>
                <li>
                  <a href="#">Festival</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <div class="header-social-links">
          <!-- <div class="rightside"> ! -->
          <!--     
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> !     -->
          <a href="{{ path('app_register') }}">S'inscrire</a> |
          <a href="{{ path('app_login') }}">Connexion</a> {# On créera le lien après le make:auth #}
        </div>
        <!-- </div> ! -->
      </div>
    </header>

    {% block body %}

    {% endblock %}
  </body>
</html>
