{% extends 'base.html.twig' %}

{% block title %}Contact - BxlEvent
{% endblock %}

{% block body %}
	<main class="main">

		<section id="contact" class="contact section">


			<div class="container section-title">
				<h2>Contact</h2>
				<p>Une question sur un événement à Bruxelles ? Notre équipe vous répond dans les plus brefs délais.</p>
			</div>

			<div class="container">

				<div class="row g-4 g-lg-5">
					<div class="col-lg-5">
						<div class="info-box">
							<h3>Contact Info</h3>
							<p>Retrouvez-nous au cœur de la capitale ou contactez-nous directement.</p>

							<div class="info-item">
								<div class="icon-box">
									<i class="bi bi-geo-alt"></i>
								</div>
								<div class="content">
									<h4>Notre Localisation</h4>
									<p>Avenue de l'Astronomie 19 
																																																												1210 Saint-Josse</p>
								</div>
							</div>

							<div class="info-item">
								<div class="icon-box">
									<i class="bi bi-telephone"></i>
								</div>
								<div class="content">
									<h4>Téléphone</h4>
									<p>+1 5589 55488 55</p>
								</div>
							</div>

							<div class="info-item">
								<div class="icon-box">
									<i class="bi bi-envelope"></i>
								</div>
								<div class="content">
									<h4>Email</h4>
									<p>contact@bxlevent.be</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-7">
						<div class="contact-form">
							<h3>Envoyez un message</h3>


							{{ form_start(form, {'attr': {'class': 'php-email-form'}}) }}
							<div class="row gy-4">

								<div class="col-md-6">
									{{ form_widget(form.nom, {
                                        'attr': {
                                            'class': 'form-control', 
                                            'placeholder': 'Votre Nom'
                                        }
                                    }) }}
									{{ form_errors(form.nom) }}
								</div>
								<div class="col-md-6">
									{{ form_widget(form.prenom, {
                                        'attr': {
                                            'class': 'form-control', 
                                            'placeholder': 'Votre Prenom'
                                        }
                                    }) }}
									{{ form_errors(form.prenom) }}
								</div>

								<div class="col-12">
									{{ form_widget(form.email, {
                                        'attr': {
                                            'class': 'form-control', 
                                            'placeholder': 'Votre Email'
                                        }
                                    }) }}
									{{ form_errors(form.email) }}
								</div>

								<div class="col-12">
									{{ form_widget(form.message, {
                                        'attr': {
                                            'class': 'form-control', 
                                            'placeholder': 'Message',
                                            'rows': 6
                                        }
                                    }) }}
									{{ form_errors(form.message) }}
								</div>

								<div class="col-12 text-center">
									<div class="loading">Chargement...</div>
									<div class="error-message"></div>
									<div class="sent-message">Votre message a été envoyé. Merci !</div>

									<button type="submit" class="btn button">Envoyer le message</button>
								</div>
								<div class="col-12 text-center">
									{% for message in app.flashes('success') %}
										<div class="alert alert-success">
											{{ message }}
										</div>
									{% endfor %}
								</div>

							</div>
							{{ form_end(form) }}


						</div>

						{% for message in app.flashes('success') %}
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								{{ message }}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% endfor %}
					</div>

				</div>

			</div>

		</section>
	</main>
{% endblock %}
