{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}
{% block body %}
	<div class="contenair">
		<header>

			<div class="row">
				<div class="col profil">
					<img class="photo rounded-circle" src="https://static.vecteezy.com/ti/vecteur-libre/p1/26625600-la-personne-icone-vecteur-symbole-conception-illustration-vectoriel.jpg" alt="Photo de profil" style="width: 100px;">
				</div>

				<div class="col nom">
					<h1>{{user.firstName}}
						{{user.lastName}}</h1>
					<p>Membre depuis{{ ' '~user.dateRgpd|date('Y-m-d')}}</p>
					<p class="mt-4">{{user.email}}</p>
				</div>


				<div class="col ville">

					<div class="input-group">
						<i class="fa-solid fa-location-crosshairs"></i>
						<span class="input-group-text">{{user.location.citty}}</span>

					</div>

				</div>
			</div>
		</header>

		<main></main>
		<footer></footer>
	</div>
{% endblock %}
